name: Semver Release Workflow

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Go 1.19
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

    - name: Install packwiz
      run: go install github.com/packwiz/packwiz@latest

    - name: Cache packwiz cache
      uses: actions/cache@v2
      with:
        path: /opt/buildhome/.cache/packwiz/cache
        key: packwiz-cache-${{ runner.os }}-${{ hashFiles('**/go.sum') }}

    - name: Run packwiz curseforge export
      run: packwiz curseforge export -y

    - name: Rename and add file to release
      run: |
        version=$(echo "${{ github.event.release.tag_name }}" | sed 's/^v//')
        filename="Create_Stellar_Expanded_${version}.zip"
        mv "Create Stellar Expanded.zip" "$filename"

    - name: Upload release asset
      uses: softprops/action-gh-release@v1
      with:
        files: ${filename}
        tag_name: ${{ github.event.release.tag_name }}